<script>

$(function() {
    $( "#child_birthdate" ).datepicker(
     {
        dateFormat: 'd/M/yy',
        changeMonth: true,
        changeYear: true,
        minDate: '-6W',
        maxDate: 'today'
     });
});


$(function() {
    $( "#child_birthdate" ).datepicker(
     {
        dateFormat: 'd/M/yy',
        changeMonth: true,
        changeYear: true,
        minDate: '-6W',
        maxDate: 'today'
     });
});

$(function() {
    $("#child_mother_birthdate").datepicker({
        dateFormat: 'd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:+0',
        maxDate: 'today'
    });
});

$(function() {
    $( "#child_father_birthdate" ).datepicker(
     {
        dateFormat: 'd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:+0',
        maxDate: 'today'
     });
});

$(function() {
    $( "#child_date_of_marriage" ).datepicker(
     {
        dateFormat: 'd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:+0',
        maxDate: 'today'
     });
});


function update_specify_birth(){

  type_of_birth = document.getElementById("child_type_of_birth");

  child_other_type_of_birth = document.getElementById("child_other_type_of_birth");

  if (type_of_birth.value != "Other") {

    child_other_type_of_birth.disabled = true;

  }else {

    child_other_type_of_birth.disabled = false;
  }
}

function update_specify_marriage_date(){

  married = document.getElementById("parents_married_to_each_other");

  marriage_date = document.getElementById("child_date_of_marriage");

  if (married.value != "Yes") {

    marriage_date.disabled = true;

  }else {

    marriage_date.disabled = false;
  }

}

function motherDetails(){

  mother_details_checked = document.getElementById("details_same_as_mother");
  
  if (mother_details_checked.checked) {
  
    child_mother_last_name = document.getElementById("child_mother_last_name");
    child_mother_first_name = document.getElementById("child_mother_first_name");
    child_mother_middle_name = document.getElementById("child_mother_middle_name");
    child_mother_id_number  = document.getElementById("child_mother_id_number");
    
    child_informant_last_name = document.getElementById("child_informant_last_name");
    child_informant_first_name = document.getElementById("child_informant_first_name");
    child_informant_midddle_name = document.getElementById("child_informant_middle_name");
    child_informant_id_number  = document.getElementById("child_informant_id_number");
    child_informant_relationship  = document.getElementById("child_informant_relationship_to_child");
    
    
    child_mother_current_district = document.getElementById("child_mother_current_district");
    child_mother_current_ta = document.getElementById("child_mother_current_ta");
    child_mother_current_village = document.getElementById("child_mother_current_village");
    
    child_informant_current_district = document.getElementById("child_informant_current_district");
    child_informant_current_ta = document.getElementById("child_informant_current_ta");
    child_informant_current_village = document.getElementById("child_informant_current_village");
   
    child_informant_last_name.value = child_mother_last_name.value;
    child_informant_first_name.value = child_mother_first_name.value;
    child_informant_middle_name.value = child_mother_middle_name.value;
    child_informant_id_number.value = child_mother_id_number.value;
    child_informant_relationship.value = "Mother";
    
    child_informant_current_district.value = child_mother_current_district.value;
    child_informant_current_ta.value = child_mother_current_ta.value;
    child_informant_current_village.value = child_mother_current_village.value;
    
  }
  
}

</script>

<style>
    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

    div.field {
        font-weight: normal;
        display: inline-block;
        margin: 10px;
        color: #000;
    }

    select {
        min-width: 100%;
    }

    /*input {
        min-width: 100%;
    }*/

</style>

<%= form_for(@child) do |f| %>
    <% if @child.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

          <ul>
            <% @child.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend>Details of Child</legend>

      <%= f.hidden_field :_rev rescue "" %>

      <div class="field">
        <label for="child_last_name">Surname/Family Name</label>
        <br>
        <%= (f.text_field :last_name, :class => "input_cell", :required=> true) rescue "" %>
      </div>
      <div class="field">
        <%= f.label :first_name %>
        <br>
        <%= (f.text_field :first_name, :class => "input_cell", :required=> true) rescue "" %>
      </div>
      <div class="field">
        <label for="child_middle_name">Other Names</label>
        <br>
        <%= (f.text_field :middle_name, :class => "input_cell") rescue "" %>
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child (cont'd)</legend>

      <div class="field">
        <label for="child_middle_name">Date of Birth</label>
        <br>
        <%= (f.text_field :birthdate, :class => "input_cell", :required=> true) rescue "" %>
        <%= f.hidden_field :birthdate_estimated rescue "" %>
      </div>
      <div class="field">
        <label for="child_gender">Sex</label><br>
        <select id="child_gender" name="child[gender]" class="input_cell" required>
          <option></option>
          <option <%= ((@child[:gender] rescue nil) == "Female" ? "selected" : "") %> >Female</option>
          <option <%= ((@child[:gender] rescue nil) == "Male" ? "selected" : "") %> >Male</option>
        </select>
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child (cont'd)</legend>

      <div class="field">
        <label for="child_place_of_birth">Place of birth</label><br>
        <select id="child_place_of_birth" name="child[place_of_birth]" class="input_cell" required>
          <option <%= ((@child[:place_of_birth] rescue nil) == "Hospital" ? "selected" : "") %> >Hospital</option>
          <option <%= ((@child[:place_of_birth] rescue nil) == "Home" ? "selected" : "") %> >Home</option>
          <option <%= ((@child[:place_of_birth] rescue nil) == "Other" ? "selected" : "") %> >Other</option>
        </select>
      </div>
      <div class="field">
        <label for="child_hospital_of_birth">Name of Hospital</label>
        <br>
        <%= (f.text_field :hospital_of_birth, :class => "input_cell") rescue "" %>
      </div>
      <div class="field">
        <label for="child_birth_address">Address</label>
        <br>
        <%= (f.text_field :birth_address, :class => "input_cell") rescue "" %>
      </div>
      <div class="field">
        <label for="child_birth_district">District</label>
        <br>
         <%= select_tag(:birth_district, options_for_select(@districts, :selected => @child[:birth_district]),{:class=>"input_cell", :include_blank => true, :required => true}) %>
      </div>
      <div class="field">
        <label for="child_birth_ta">T/A</label>
        <br>
        <%= (f.text_field :birth_ta, :class => "input_cell") rescue "" %>
      </div>
      <div class="field">
        <label for="child_birth_village">Village</label>
        <br>
        <%= (f.text_field :birth_village, :class => "input_cell") rescue "" %>
      </div>
      <div class="field">
        <label for="child_other_birth_place_details">Give Details</label>
        <br>
        <%= (f.text_field :other_birth_place_details, :class => "input_cell") rescue "" %>
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child (cont'd)</legend>

      <div class="field">
        <label for="child_birth_weight">Birth weight (in Kilogrammes)</label>
        <br>
        <%= (f.text_field :birth_weight, :class => "input_cell", :placeholder => "0.000") rescue "" %>
      </div>
      <div class="field">
        <%= f.label :type_of_birth %>
        <br>
        <select id="child_type_of_birth" name="child[type_of_birth]" class="input_cell" onchange="update_specify_birth();" required>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Single" ? "selected" : "") %> >Single</option>

          <option <%= ((@child[:type_of_birth] rescue nil) == "First Twin" ? "selected" : "") %> >First Twin</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Second Twin" ? "selected" : "") %> >Second Twin</option>

          <option <%= ((@child[:type_of_birth] rescue nil) == "First Triplet" ? "selected" : "") %> >First Triplet</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Second Triplet" ? "selected" : "") %> >Second Triplet</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Third Triplet" ? "selected" : "") %> >Third Triplet</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Other" ? "selected" : "") %> >Other</option>
        </select>
      </div>
      <div class="field">
        <label for="child_other_type_of_birth">Specify Other Type of Birth</label>
        <br>
        <%= (f.text_field :other_type_of_birth, :class => "input_cell") rescue "" %>
      </div>

      <div class="field">
        <label for="child_parents_married_to_each_other">Are the parents married to each other?</label>
        <br>
        <select id="parents_married_to_each_other" name="child[parents_married_to_each_other]" class="input_cell" onchange="update_specify_marriage_date();" required>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>
      <div class="field">
        <label for="child_date_of_marriage">If yes, date of marriage</label>
        <br>
        <%= (f.text_field :date_of_marriage, :class => "input_cell") rescue "" %>
      </div>

    </fieldset>

    <!-- Mother -->

    <fieldset>
      <legend>Details of Child's Mother</legend>

      <div class="field">
        <label for="child_mother_last_name">Surname</label><br>
        <input id="child_mother_last_name" name="child[mother][last_name]" type="text" value="<%= @child[:mother][:last_name] rescue nil %>" class="input_cell" required />
      </div>

      <div class="field">
        <label for="child_mother_first_name">First Name</label><br>
        <input id="child_mother_first_name" name="child[mother][first_name]" type="text" value="<%= @child[:mother][:first_name] rescue nil %>" class="input_cell" required />
      </div>

      <div class="field">
        <label for="child_mother_middle_name">Other Names</label><br>
        <input id="child_mother_middle_name" name="child[mother][middle_name]" type="text" value="<%= @child[:mother][:middle_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_mother_id_number">ID Number</label><br>
        <input id="child_mother_id_number" name="child[mother][id_number]" type="text" value="<%= @child[:mother][:id_number] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>


    <fieldset>
      <legend>Details of Child's Mother (cont'd)</legend>

      <div class="field">
        <label for="child_mother_birthdate">Date of Birth</label>
        <br>
        <input id="child_mother_birthdate" name="child[mother][birthdate]" type="text" value="<%= @child[:mother][:birthdate] rescue nil %>" class="input_cell"  />
        <br>
        <input id="child_mother_birthdate_estimated" name="child[mother][birthdate_estimated]" type="hidden" value="<%= @child[:mother][:birthdate_estimated] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_mother_citizenship">Nationality</label><br>
        <%= select_tag(:child_mother_citizenship, options_for_select(@nationality, :selected => @child[:mother][:citizenship]),{:class=>"input_cell", :include_blank => true}) %>
      </div>

    </fieldset>


    <fieldset>
      <legend>Details of Child's Mother (cont'd) - Physical residential address</legend>

      <div class="field">
        <label for="child_mother_current_district">District</label><br>
        
        <%= select_tag(:child_mother_current_district, options_for_select(@districts, :selected => @child[:mother][:current_district]),{:class=>"input_cell", :include_blank => true}) %>
        
      </div>

      <div class="field">
        <label for="child_mother_current_ta">T/A</label><br>
        <input id="child_mother_current_ta" name="child[mother][current_ta]" type="text" value="<%= @child[:mother][:current_ta] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_mother_current_village">Village</label><br>
        <input id="child_mother_current_village" name="child[mother][current_village]" type="text" value="<%= @child[:mother][:current_village] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>


    <fieldset>
      <legend>Details of Child's Mother (cont'd) - Home address</legend>

      <div class="field">
        <label for="child_mother_home_district">District</label><br>
        <%= select_tag(:child_mother_home_district, options_for_select(@districts, :selected => @child[:mother][:home_district]),{:class=>"input_cell", :include_blank => true}) %>
        
      </div>

      <div class="field">
        <label for="child_mother_home_ta">T/A</label><br>
        <input id="child_mother_home_ta" name="child[mother][home_ta]" type="text" value="<%= @child[:mother][:home_ta] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_mother_home_village">Village</label><br>
        <input id="child_mother_home_village" name="child[mother][home_village]" type="text" value="<%= @child[:mother][:home_village] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Mother (cont'd)</legend>

      <div class="field">
        <label for="child_gestation_at_birth">Gestation age at birth in weeks</label>
        <br>
        <%= (f.number_field :gestation_at_birth, :class => "input_cell" ,:fieldtype => "number", :min => 30, :max => 45) rescue "" %>
      </div>
      <div class="field">
        <%= f.label :number_of_prenatal_visits %>
        <br>
        <%= (f.number_field :number_of_prenatal_visits, :class => "input_cell", :fieldtype => "number", :min => 1, :max => 12) rescue "" %>
      </div>
      <div class="field">
        <label for="child_month_prenatal_care_started">Month of pregnancy prenatal care started</label>
        <br>
        <%= (f.number_field :month_prenatal_care_started, :class => "input_cell", :fieldtype => "number", :min => 1, :max => 10) rescue "" %>
      </div>
      <div class="field">
        <%= f.label :mode_of_delivery %>
        <br>
        <select id="child_mode_of_delivery" name="child[mode_of_delivery]" class="input_cell" >
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "SVD" ? "selected" : "") %> >SVD</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Vacuum Extraction" ? "selected" : "") %> >Vacuum Extraction</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Breech" ? "selected" : "") %> >Breech</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Forceps" ? "selected" : "") %> >Forceps</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Caesarean Section" ? "selected" : "") %> >Caesarean Section</option>
        </select>
      </div>
      <div class="field">
        <label for="child_gestation_at_birth">Number of children born to the mother, including this child</label>
        <br>
        <%= (f.number_field :number_of_children_born_alive_inclusive, :class => "input_cell", :fieldtype => "number", :min => 0 ) rescue "" %>
      </div>
      <div class="field">
        <label for="child_gestation_at_birth">Number of children born to the mother, and still living</label>
        <br>
        <%= (f.number_field :number_of_children_born_still_alive, :class => "input_cell", :fieldtype => "number", :min => 0) rescue "" %>
      </div>
      <div class="field">
        <label for="child_level_of_education">Level of education<sub><i>(Enter completed level of education)</i></sub></label>
        <br>
        <select id="child_level_of_education" name="child[level_of_education]" class="input_cell" >
          <option <%= ((@child[:level_of_education] rescue nil) == "None" ? "selected" : "") %> >None</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Primary" ? "selected" : "") %> >Primary</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Secondary" ? "selected" : "") %> >Secondary</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Higher Education" ? "selected" : "") %> >Higher Education</option>
        </select>
      </div>
      
    </fieldset>

    <fieldset>
      <legend>Details of Child's Father</legend>

      <!-- Father -->

      <div class="field">
        <label for="child_father_last_name">Surname/Family Name</label><br>
        <input id="child_father_last_name" name="child[father][last_name]" type="text" value="<%= @child[:father][:last_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_father_first_name">First Name</label><br>
        <input id="child_father_first_name" name="child[father][first_name]" type="text" value="<%= @child[:father][:first_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_father_middle_name">Other Name</label><br>
        <input id="child_father_middle_name" name="child[father][middle_name]" type="text" value="<%= @child[:father][:middle_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_father_id_number">ID Number</label><br>
        <input id="child_father_id_number" name="child[father][id_number]" type="text" value="<%= @child[:father][:id_number] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Father (cont'd)</legend>

      <div class="field">
        <label for="child_father_birthdate">Father's Birthdate</label><br>
        <input id="child_father_birthdate" name="child[father][birthdate]" type="text" value="<%= @child[:father][:birthdate] rescue nil %>" class="input_cell" />

        <input id="child_father_birthdate_estimated" name="child[father][birthdate_estimated]" type="hidden" value="<%= @child[:father][:birthdate_estimated] rescue nil %>"/>
      </div>

      <div class="field">
        <label for="child_father_citizenship">Father's Citizenship</label><br>
        <%= select_tag(:child_father_citizenship, options_for_select(@nationality, :selected => @child[:father][:citizenship]),{:class=>"input_cell", :include_blank => true}) %>

      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Father (cont'd) - Physical Address</legend>

      <div class="field">
        <label for="child_father_current_district">District</label><br>
        <%= select_tag(:child_father_current_district, options_for_select(@districts, :selected => @child[:father][:current_district]),{:class=>"input_cell", :include_blank => true}) %>
        
        
      </div>

      <div class="field">
        <label for="child_father_current_ta">T/A</label><br>
        <input id="child_father_current_ta" name="child[father][current_ta]" type="text" value="<%= @child[:father][:current_ta] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_father_current_village">Village</label><br>
        <input id="child_father_current_village" name="child[father][current_village]" type="text" value="<%= @child[:father][:current_village] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Father (cont'd) - Home Address</legend>

      <div class="field">
        <label for="child_father_home_district">District</label><br>
        
        <%= select_tag(:child_father_home_district, options_for_select(@districts, :selected => @child[:father][:home_district]),{:class=>"input_cell", :include_blank => true}) %>
        
      </div>

      <div class="field">
        <label for="child_father_home_ta">T/A</label><br>
        <input id="child_father_home_ta" name="child[father][home_ta]" type="text" value="<%= @child[:father][:home_ta] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_father_home_village">Village</label><br>
        <input id="child_father_home_village" name="child[father][home_village]" type="text" value="<%= @child[:father][:home_village] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Informant</legend>

      <!-- Informant -->

      <div class="field">
       
        <input id="details_same_as_mother" name="details_same_as_mother" type="checkbox" onchange="motherDetails();">Details Same as Mothers </input><br /><br />
        <label for="child_informant_last_name">Surname/Family Name</label><br>
        <input id="child_informant_last_name" name="child[informant][last_name]" type="text" value="<%= @child[:informant][:last_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_first_name">First Name</label><br>
        <input id="child_informant_first_name" name="child[informant][first_name]" type="text" value="<%= @child[:informant][:first_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_middle_name">Other Name</label><br>
        <input id="child_informant_middle_name" name="child[informant][middle_name]" type="text" value="<%= @child[:informant][:middle_name] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_id_number">ID Number</label><br>
        <input id="child_informant_id_number" name="child[informant][id_number]" type="text" value="<%= @child[:informant][:id_number] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_relationship_to_child">Relationship To Child</label><br>
        <input id="child_informant_relationship_to_child" name="child[informant][relationship_to_child]" type="text" value="<%= @child[:informant][:relationship_to_child] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset>
      <legend>Details of Child's Informant (cont'd) - Address</legend>

      <div class="field">
        <label for="child_informant_current_district">District</label><br>
        
        <%= select_tag(:child_informant_current_district, options_for_select(@districts, :selected => @child[:informant][:current_district]),{:class=>"input_cell", :include_blank => true}) %>
        
      </div>

      <div class="field">
        <label for="child_informant_current_ta">T/A</label><br>
        <input id="child_informant_current_ta" name="child[informant][current_ta]" type="text" value="<%= @child[:informant][:current_ta] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_current_village">Village</label><br>
        <input id="child_informant_current_village" name="child[informant][current_village]" type="text" value="<%= @child[:informant][:current_village] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_addressline1">Postal Address</label><br>
        <input id="child_informant_addressline1" name="child[informant][addressline1]" type="text" value="<%= @child[:informant][:addressline1] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_addressline2">Postal Address</label><br>
        <input id="child_informant_addressline2" name="child[informant][addressline2]" type="text" value="<%= @child[:informant][:addressline2] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_city">Town/City</label><br>
        <input id="child_informant_city" name="child[informant][city]" type="text" value="<%= @child[:informant][:city] rescue nil %>" class="input_cell" />
      </div>

      <div class="field">
        <label for="child_informant_phone_number">Phone Number</label><br>
        <input id="child_informant_phone_number" name="child[informant][phone_number]" type="text" value="<%= @child[:informant][:phone_number] rescue nil %>" class="input_cell" />
      </div>

    </fieldset>

    <fieldset></fieldset>

   
     <button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;">Update Child Record</button>

 
    
<% end %>
