<div id="default" style="width: 100%; height: 400px; text-align: center; vertical-align: top;">

  <div class="button" onclick="window.location = '<%= new_child_path %>'" tag=0>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Add Child
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Add new child record at facility.
        </td>
      </tr>
    </table>
  </div>

  <div class="button" onclick="window.location = '/view'" tag=1>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          View Records
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          View cases that are still accessible at facility.
        </td>
      </tr>
    </table>
  </div>

  <div class="button" onclick="window.location = '/search'" tag=2>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Edit Record
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Edit child record still accessible at facility.
        </td>
      </tr>
    </table>
  </div>

  <div class="button" onclick="window.parent.loadPage(parseInt(this.getAttribute('tag')))" tag=5>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Reports
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          View reports at facility.
        </td>
      </tr>
    </table>
  </div>

  <% if @admin %>

  <div class="button" onclick="window.location = '/users'" tag=7>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Manage Users
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Manage system users at facility.
        </td>
      </tr>
    </table>
  </div>

      <% end %>

  <div class="button" onclick="window.location = '/users/my_account';" tag=8>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          My Account
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Manage current local user account.
        </td>
      </tr>
    </table>
  </div>

</div>