<style>

    .record td {
        font-size: 18px;
        font-style: italic;
        color: #000;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

</style>

<fieldset>

  <fieldset>
    <table cellpadding="5" width="100%">
      <tr>
        <td align="right">
          Select Person
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" class="input_cell" id="person" name="person" value="" style="width: 97%;" onclick="checkPopUp()"/>
        </td>
      </tr>
      <tr>
        <td align="right">
          Name
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" class="input_cell" id="personname" name="personname" value="" style="width: 97%;" disabled/>
        </td>
      </tr>
      <tr>
        <td colspan="2">

          <fieldset>
            <legend>Mother's Details</legend>
            <table cellpadding="5" width="100%">
              <tr>
                <td align="right">
                  Name
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="mname" name="mname" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home Village
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="mhvillage" name="mhvillage" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home T/A
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="mhta" name="mhta" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home District
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="mhdistrict" name="mhdistrict" value="" disabled/>
                </td>
              </tr>
            </table>
          </fieldset>

        </td>
        <td>

          <fieldset>
            <legend>Father's Details</legend>
            <table cellpadding="5" width="100%">
              <tr>
                <td align="right">
                  Name
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="fname" name="fname" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home Village
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="fhvillage" name="fhvillage" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home T/A
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="fhta" name="fhta" value="" disabled/>
                </td>
              </tr>
              <tr>
                <td align="right">
                  Home District
                </td>
                <td>
                  :
                </td>
                <td>
                  <input type="text" class="input_cell" id="fhdistrict" name="fhdistrict" value="" disabled/>
                </td>
              </tr>
            </table>
          </fieldset>

        </td>
      </tr>
    </table>

    <button id="btnAction" class="gray" style="position: absolute; right: 160px; bottom: 20px;">Edit</button>

  </fieldset>

  <fieldset></fieldset>

</fieldset>

<script>

    var people = [];

    var timerHnd;

    var active = false;

    function __$(id) {
        return document.getElementById(id);
    }

    function checkCtrl(obj) {
        var o = obj;
        var t = o.offsetTop;
        var l = o.offsetLeft + 1;
        var w = o.offsetWidth;
        var h = o.offsetHeight;

        while ((o ? (o.offsetParent != document.body) : false)) {
            o = o.offsetParent;
            t += (o ? o.offsetTop : 0);
            l += (o ? o.offsetLeft : 0);
        }
        return [w, h, t, l];
    }

    function checkPopUp() {

        if (__$("popup")) {

            clearTimeout(timerHnd);

            document.body.removeChild(__$("popup"));

        } else {

            ajaxTasks();

        }

    }

    function ajaxTasks() {

        clearTimeout(timerHnd);

        var name = __$("person").value.trim().replace(/\s/, "+");

        var url = "/search_by_fullname/" + name;

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            handleTasks(httpRequest);
        };
        try {
            httpRequest.open('GET', url, true);
            httpRequest.send(null);
        } catch (e) {
        }
    }

    function handleTasks(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
                aXMLHttpRequest.status == 304)) {

            var result = JSON.parse(aXMLHttpRequest.responseText);

            people = result;

            loadRows();

        }
    }

    function loadRows() {

        if (!__$("popup")) {

            var pos = checkCtrl(__$("person"));

            var popup = document.createElement("div");
            popup.style.position = "absolute";
            popup.style.width = (pos[0] - 3) + "px";
            popup.style.height = "200px";
            popup.style.border = "1px solid #3465a4";
            popup.style.backgroundColor = "rgba(255,255,255,0.9)";
            popup.style.overflow = "auto";
            popup.style.top = (pos[2] + pos[1] + 2) + "px";
            popup.style.left = pos[3] + "px";
            popup.id = "popup";

            document.body.appendChild(popup);

        }

        __$("popup").innerHTML = "";

        if (!active)
            clearFields();

        for (var i = 0; i < people.length; i++) {

            var row = document.createElement("div");
            row.style.margin = "5px";
            row.style.border = "1px solid #ccc";
            // row.style.height = "50px";
            row.style.cursor = "pointer";
            row.innerHTML = "&nbsp;";
            row.setAttribute("pos", i);
            row.setAttribute("tag", (i % 2 > 0 ? "odd" : "even"));
            row.style.verticalAlign = "middle";
            row.style.padding = "20px";

            row.innerHTML = people[i]["Child"]["First Name"] + " " + people[i]["Child"]["Family Name"] + " (" +
                    people[i]["Child"]["Sex"][0] + " - <i>Age:</i>" + people[i]["Child"]["Age"] + ")";

            row.style.backgroundColor = (i % 2 > 0 ? "#fff" : "#eee");

            row.onmouseover = function () {

                this.style.backgroundColor = "lightblue";

            }

            row.onmouseout = function () {

                if (this.getAttribute("tag") == "even") {

                    this.style.backgroundColor = "#eee";

                } else {

                    this.style.backgroundColor = "#fff";

                }


            }

            row.onclick = function () {

                active = true;

                clearTimeout(timerHnd);

                loadItem(this.getAttribute("pos"));

            }

            __$("popup").appendChild(row);

        }

        if (!active && __$("personname").value.trim().length == 0) {

            timerHnd = setTimeout("ajaxTasks()", 1000);

        }

    }

    function loadItem(pos) {

        clearTimeout(timerHnd);

        if (__$("personname")) {

            __$("personname").value = people[pos]["Child"]["First Name"] + " " + people[pos]["Child"]["Family Name"];

        }

        if (__$("mname")) {

            __$("mname").value = people[pos]["Mother"]["First Name"] + " " + people[pos]["Mother"]["Family Name"];

        }

        if (__$("mhvillage")) {

            __$("mhvillage").value = people[pos]["Mother"]["Home Village"];

        }

        if (__$("mhta")) {

            __$("mhta").value = people[pos]["Mother"]["Home T/A"];

        }

        if (__$("mhdistrict")) {

            __$("mhdistrict").value = people[pos]["Mother"]["Home District"];

        }

        if (__$("fname")) {

            __$("fname").value = people[pos]["Father"]["First Name"] + " " + people[pos]["Father"]["Family Name"];

        }

        if (__$("fhvillage")) {

            __$("fhvillage").value = people[pos]["Father"]["Home Village"];

        }

        if (__$("fhta")) {

            __$("fhta").value = people[pos]["Father"]["Home T/A"];

        }

        if (__$("fhdistrict")) {

            __$("fhdistrict").value = people[pos]["Father"]["Home District"];

        }

        document.body.removeChild(__$("popup"));

        if(people[pos]["status"].trim().toUpperCase() == "FACILITY OPEN" && people[pos]["remote_status"].trim().toUpperCase() == "ACTIVE") {

            if (__$("btnAction")) {

                __$("btnAction").className = "blue";

                __$("btnAction").onclick = function () {

                    window.location = "/children/" + people[pos]["id"] + "/edit";

                }

            }

        }

        active = false;

    }

    function clearFields() {

        if (__$("personname")) {

            __$("personname").value = "";

        }

        if (__$("mname")) {

            __$("mname").value = "";

        }

        if (__$("mhvillage")) {

            __$("mhvillage").value = "";

        }

        if (__$("mhta")) {

            __$("mhta").value = "";

        }

        if (__$("mhdistrict")) {

            __$("mhdistrict").value = "";

        }

        if (__$("fname")) {

            __$("fname").value = "";

        }

        if (__$("fhvillage")) {

            __$("fhvillage").value = "";

        }

        if (__$("fhta")) {

            __$("fhta").value = "";

        }

        if (__$("fhdistrict")) {

            __$("fhdistrict").value = "";

        }

        if (__$("btnAction")) {

            __$("btnAction").className = "gray";

            __$("btnAction").onclick = function () {
            };

        }

    }

</script>