<style>

    .record td {
        font-size: 18px;
        font-style: italic;
        color: #000;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

</style>

<% @record.each do |group, children| %>

    <% r = 0 %>

    <fieldset>
      <legend>
        <%= group %>
      </legend>

      <table class="record" width="100%" cellpadding="10" cellspacing="0">

        <% children.each do |child| %>

            <% kids = child.keys %>

            <tr>

              <% (0..(kids.length - 1)).each do |i| %>

                  <td align="right" style="border-right: 1px dotted #3465a4; <%= (r < children.length - 1 ? "border-bottom: 1px dotted #3465a4" : "") %>">
                    <strong><%= kids[i] %></strong>
                  </td>
                  <td style="<%= (r < children.length - 1 ? "border-bottom: 1px dotted #3465a4" : "") %>" id='<%= "#{group.gsub(" ", "_").downcase}_#{kids[i].gsub(" ", "_").downcase}" %>'>
                    <%= child[kids[i]] rescue nil %>
                  </td>

              <% end %>

              <% ((kids.length)..2).each do |i| %>

                  <td align="right" style="border-right: 1px dotted #3465a4; <%= (r < children.length - 1 ? "border-bottom: 1px dotted #3465a4" : "") %>">
                    <strong>&nbsp;</strong>
                  </td>
                  <td style="<%= (r < children.length - 1 ? "border-bottom: 1px dotted #3465a4" : "") %>">
                    &nbsp;
                  </td>

              <% end %>

            </tr>

            <% r += 1 %>

        <% end %>

      </table>

    </fieldset>

<% end %>

<fieldset>

</fieldset>

<% if current_user.role == 'admin' %>

<% if @child.record_status.to_s.strip.upcase == "HQ OPEN" && @child.request_status.to_s.strip.upcase == "ACTIVE" && @child.approved == 'Yes' %>

 <button id="btnApprove" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="checkChild();">Check Completeness</button>
  
   
<%# elsif @child.form_signed.upcase == "NO" && @months_gone < 12 && @child.approved.upcase == 'YES' && @child.record_status.to_s.strip.upcase == "DC OPEN" %>

  <!--button id="btnApprove" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="closeChild();">Close</button-->

<% end %>

  <!--button id="btnAction" class="gray" style="position: absolute; right: 160px; bottom: 20px;" onclick="">Approve</button-->


<% end %>
<script>

summaryHash = {
  "Birth Entry Number" : ["details_of_child_district_id_number"],
  "Child Name" : ["details_of_child_first_name","details_of_child_family_name"],
  "Child Gender" : ["details_of_child_sex"],
  "Child Date of Birth" : ["details_of_child_date_of_birth"],
  "Child Place of Birth" : ["details_of_child_place_of_birth"],
  "Child Birth Weight" : ["details_of_child_birth_weight_(kg)"] ,
  "Mother " : ["details_of_child's_mother_first_name", "details_of_child's_mother_family_name"],
  "Father" : ["details_of_child's_father_first_name","details_of_child's_father_family_name"]
};

function __$(id) {
  return document.getElementById(id);
}

function closeChild() {
  //link = "window.location='/close_child/<%= @child.id %>';";
  //submitSummary(link);
}

function approve() {
  link = "window.location='/approve_child/<%= @child.id %>';";
  submitSummary(link);
}

function checkChild() {
  <% if record_complete?(@child) %> 
     link = "window.location='/hq/print_certificates';";
  <% else %> 
     link = "window.location='/hq/view_cases';";
  <% end %>  
  
  submitSummary(link);
}

function submitSummary(action) {

showSpinner();

var msg = "";

var parent = document.createElement("div");

var div = document.createElement("div");
div.style.height = "230px";
div.style.overflow = "auto";

parent.appendChild(div);

var table = document.createElement("table");
table.style.width = "100%";

div.appendChild(table);

var tbody = document.createElement("tbody");

table.appendChild(tbody);

var keys = Object.keys(summaryHash);

for (var i = 0; i < keys.length; i++) {

  var tr = document.createElement("tr");

  tbody.appendChild(tr);

  var td1 = document.createElement("th");
  td1.align = "right";
  td1.innerHTML = keys[i];

  tr.appendChild(td1);

  var td2 = document.createElement("td");
  td2.innerHTML = ":";

  tr.appendChild(td2);

  var td3 = document.createElement("td");

  var label = "";

  for (var j = 0; j < summaryHash[keys[i]].length; j++) {

    if (__$(summaryHash[keys[i]][j])) {

      if (label.trim().length > 0) {

        label = label.trim() + " " + __$(summaryHash[keys[i]][j]).innerHTML;

      } else {
        label = __$(summaryHash[keys[i]][j]).innerHTML.trim();

      }

    }

  }

  label = (label.trim) ? label.trim() : label.replace(/^\s+/,'');

  if (label == '')
    label = "<span class='blank'>N/A</span>"

  if (keys[i].match(/weight/i))
    label = label + " Kg"


  td3.innerHTML = label;

  tr.appendChild(td3);

}

var pos = checkCtrl(parent);

msg = parent.innerHTML;

hideSpinner();

showMsgForAction(msg, action, "600px", "Data Completeness Check");

}
</script>
