<!--style>

    .record td {
        font-size: 18px;
        font-style: italic;
        color: #000;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

</style-->

<%= form_for(@user) do |f| %>

    <fieldset>
      <legend>
        User Details
      </legend>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <table cellpadding="5" width="90%" style="margin: auto; margin-top: 0px;">
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
          <td>
            <span id='notice' style="font-style: italic; font-size: 0.9em;"></span><br/>
          </td>
        </tr>
        <tr>
          <td align="right">
            <%= f.label :username %>
          </td>
          <td>
            :
          </td>
          <td>
            <% if request.path.match(/new/) %>

                <%= f.text_field :username, :class => "input_cell", :placeholder => "Username", :required => true, :textCase => "lower", :uniq_check => "/username_availability?search_str=" %>

            <%else %>

                <%= f.text_field :username, :class => "input_cell", :placeholder => "Username", :required => true, :textCase => "lower" %>

            <% end %>
          </td>
        </tr>
        <tr>
          <td align="right">
            <%= f.label :first_name %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= f.text_field :first_name, :class => "input_cell", :placeholder => "First Name", :required => true %>
          </td>
        </tr>
        <tr>
          <td align="right">
            <%= f.label :last_name %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= f.text_field :last_name, :class => "input_cell", :placeholder => "Last Name", :required => true %>
          </td>
        </tr>

        <% @roles = [['', ''], ['Standard', 'standard'], ['Administrator', 'admin']].uniq %>

        <tr>
          <td align="right">
            <%= f.label :role %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= select_tag "user[role]", options_for_select(@roles, @user.role), :class => 'input_cell', :placeholder => "Select user role", :required => true, :style => "width: 81.4% !important;" %>
          </td>
        </tr>

        <% if request.path.match(/new/) %>

            <tr>
              <td align="right">
                <label for="user_plain_password">Password</label>
              </td>
              <td>
                :
              </td>
              <td>
                <%= f.password_field :plain_password, :class => "input_cell", :placeholder => "Password", :required => true, :textCase => "lower" %>
              </td>
            </tr>

            <tr>
              <td align="right">
                <%= f.label :confirm_password %>
              </td>
              <td>
                :
              </td>
              <td>
                <%= f.password_field :confirm_password, :class => "input_cell", :placeholder => "Confirm the password entered", :required => true, :textCase => "lower" %>
              </td>
            </tr>

        <% else %>

            <tr>
              <td colspan="3">
                <%= f.hidden_field :password_hash, :class => "input_cell", :placeholder => "Password", :required => true %>
                <%= f.hidden_field :confirm_password, :class => "input_cell", :placeholder => "Confirm the password entered", :required => true %>
              </td>
            </tr>

        <% end %>

        <tr>
          <td align="right">
            <%= f.label :email %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= f.text_field :email, :class => "input_cell", :placeholder => "Email Address", :optional => true %>
          </td>
        </tr>
      </table>

      <div class="actions">
        <%= f.hidden_field :_rev %>
        <%= f.hidden_field :created_at %>
        <%= f.hidden_field :updated_at %>
        <%#= f.submit :id => "btnAction", :class => "buttons blue", :style => "position: absolute; right: 160px; bottom: 20px;", :onclick => "submitForm()"  %>
      </div>

    </fieldset>

<% end %>

<!--button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="submitForm()">
  <%= request.path.match(/new/) ? "Save" : "Update" %> User
</button-->

<script>

    var timerHnd;

    var good = <%= request.path.match(/new/) ? false : true %>

            function submitForm() {
                if (validateForm() && good) {
                    document.getElementsByTagName('form')[0].submit();
                }
            }

    function validateForm() {
        username = document.getElementById('user_username');
        first_name = document.getElementById('user_first_name');
        last_name = document.getElementById('user_last_name');
        user_role = document.getElementById('user_role');
        password = document.getElementById('user_password_hash');
        password_confirm = document.getElementById('user_confirm_password');

        if (username.value == '') {
            alert("Please enter username ...");
            return false;
        } else if (first_name.value == '') {
            alert("Please enter user first name ...");
            return false;
        } else if (last_name.value == '') {
            alert("Please enter user last name ...");
            return false;
        } else if (password.value == '') {
            alert("Please password ...");
            return false;
        } else if (password.value.length < 6) {
            alert("Please password should be atleast six characters ....");
            return false;
        } else if (password.value != password_confirm.value) {
            alert("The two passwords you enter do not match ...");
            return false;
        } else if (user_role.value == '') {
            alert("Please select user role ...");
            return false;
        }

        return true;
    }

    var timeSpacing = 500;

    function checkUsername() {

        clearTimeout(timerHnd);

        username = document.getElementById('user_username').value;

        if (username == "Username" || username.trim().length == 0) {
            timerHnd = setTimeout("checkUsername()", timeSpacing);

            return;
        }

        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var results = xmlhttp.responseText;

                timerHnd = setTimeout("checkUsername()", timeSpacing);

                if (results == 'undefined' || results == '' || results == '"not validate"') {
                    return;
                } else {
                    if (results == 'available') {
                        good = true;

                        document.getElementById('notice').innerHTML = 'Username ' + results;
                        document.getElementById('notice').style.color = 'green';

                        if(document.getElementById('btnAction')) {
                            document.getElementById('btnAction').disabled = false;
                            document.getElementById('btnAction').className = "blue";
                        }
                    } else {
                        good = false;

                        document.getElementById('notice').innerHTML = 'Username ' + results + "!";
                        document.getElementById('notice').style.color = 'red';

                        if(document.getElementById('btnAction')) {
                            document.getElementById('btnAction').disabled = 'disabled';
                            document.getElementById('btnAction').className = "gray";
                        }
                    }
                }
            }
        }
        xmlhttp.open("GET", "/username_availability?search_str=" + username, true);
        xmlhttp.send();

    }

    <% if request.path.match(/new/) %>

    // timerHnd = setTimeout("checkUsername()", timeSpacing);

    <% else %>

    if (document.getElementById("user_username")) {

        document.getElementById("user_username").disabled = true;

    }

    <% end %>

    init();

</script>