<div style="display: table; width: 100%; border-spacing: 20px; color: #3465a4; font-size: 32px; margin-top: 50px;">

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      Current Password

    </div>

    <div style="display: table-cell; text-align: center;">

      :

    </div>

    <div style="display: table-cell; width: 45%;">

      <input type="password" name="old_password" id="old_password" value="" class="input_cell"/>

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      &nbsp;

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      New Password

    </div>

    <div style="display: table-cell; text-align: center;">

      :

    </div>

    <div style="display: table-cell; width: 45%;">

      <input type="password" name="new_password" id="new_password" value="" class="input_cell"/>

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      Confirm Password

    </div>

    <div style="display: table-cell; text-align: center;">

      :

    </div>

    <div style="display: table-cell; width: 45%;">

      <input type="password" name="confirm_password" id="confirm_password" value="" class="input_cell"/>

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      &nbsp;

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      <div style="border: 1px dotted #ccc; width: 82%; height: 220px; border-radius: 10px; float: right;">

        &nbsp;

      </div>

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      <div style="border: 1px dotted #ccc; width: 82%; height: 220px; border-radius: 10px; float: left;">

        &nbsp;

      </div>

    </div>

  </div>

</div>

<button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="changePassword();">Update
  Password
</button>

<script>

    function __$(id) {
        return document.getElementById(id);
    }

    function changePassword() {

        if (__$("new_password") && __$("confirm_password") && __$("old_password") && (
                __$("new_password").value.trim().length == 0 || __$("confirm_password").value.trim().length == 0 ||
                __$("old_password").value.trim().length == 0)) {

            alert("Please fill all fields!");

        } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() !=
                __$("confirm_password").value.trim()) {

            alert("Password Mismatch!");

        } else {

            ajaxSave();

        }

    }

    function ajaxSave() {

        var url = "/users/update_password";

        var data = "old_password=" + __$("old_password").value.trim() + "&new_password=" + __$("new_password").value.trim();

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            handleSave(httpRequest);
        };
        try {
            httpRequest.open('POST', url, true);
            httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            httpRequest.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            httpRequest.send(data);

        } catch (e) {
        }
    }

    function handleSave(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
                aXMLHttpRequest.status == 304)) {

            var result = aXMLHttpRequest.responseText;

            if (result.trim().toLowerCase() == "true") {

                alert("Password Changed!");

                window.location = "/";

            } else {

                alert("Password Change Failed!");

            }

        }
    }

</script>