<div style="display: table; width: 100%; border-spacing: 20px; color: #3465a4; font-size: 32px; margin-top: 50px;">

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      Username

    </div>

    <div style="display: table-cell; text-align: center;">

      :

    </div>

    <div style="display: table-cell; width: 45%;">

      <%= @user.username %>

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      &nbsp;

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      Role(s)

    </div>

    <div style="display: table-cell; text-align: center;">

      :

    </div>

    <div style="display: table-cell; width: 45%;">

      <%= @user.role %>

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      &nbsp;

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      &nbsp;

    </div>

  </div>

  <div style="display: table-row;">

    <div style="display: table-cell; text-align: right; width: 45%;">

      <div style="border: 1px dotted #ccc; width: 90%; height: 400px; border-radius: 20px; float: right;">

        &nbsp;

      </div>

    </div>

    <div style="display: table-cell; text-align: center;">

      &nbsp;

    </div>

    <div style="display: table-cell; width: 45%;">

      <div style="border: 1px dotted #ccc; width: 90%; height: 400px; border-radius: 20px; float: left;">

        &nbsp;

      </div>

    </div>

  </div>

</div>

<button id="btnAction" class="blue" onclick="window.location = '/users/change_password';"
        style="position: absolute; right: 160px; bottom: 20px;">Change Password</button>