<style>

    .record td {
        font-size: 18px;
        font-style: italic;
        color: #000;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

</style>

<fieldset>

  <table cellpadding="5" width="100%">
    <tr>
      <td align="right">
        Select Case Number
      </td>
      <td>
        :
      </td>
      <td>
        <input type="text" class="input_cell" id="caseId" name="caseId" value="" style="width: 97%;"/>
      </td>
      <td>
        <img src="<%= @search rescue nil %>" height="60" style="cursor: pointer; border-radius: 10px; padding: 5px; border: 1px solid #fff;"
             onclick="ajaxTasks();" onmouseover="this.style.border = '1px #ccc solid'; " onmouseout="this.style.border = '1px #fff solid'; "/>
      </td>
    </tr>
    <tr>
      <td align="right">
        Name
      </td>
      <td>
        :
      </td>
      <td>
        <input type="text" class="input_cell" id="personname" name="personname" value="" style="width: 97%;" disabled/>
      </td>
    </tr>
    <tr>
      <td colspan="2">

        <fieldset>
          <legend>Mother's Details</legend>
          <table cellpadding="5" width="100%">
            <tr>
              <td align="right">
                Name
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="mname" name="mname" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home Village
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="mhvillage" name="mhvillage" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home T/A
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="mhta" name="mhta" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home District
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="mhdistrict" name="mhdistrict" value="" disabled/>
              </td>
            </tr>
          </table>
        </fieldset>

      </td>
      <td>

        <fieldset>
          <legend>Father's Details</legend>
          <table cellpadding="5" width="100%">
            <tr>
              <td align="right">
                Name
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="fname" name="fname" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home Village
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="fhvillage" name="fhvillage" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home T/A
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="fhta" name="fhta" value="" disabled/>
              </td>
            </tr>
            <tr>
              <td align="right">
                Home District
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" class="input_cell" id="fhdistrict" name="fhdistrict" value="" disabled/>
              </td>
            </tr>
          </table>
        </fieldset>

      </td>
    </tr>
    <tr>
      <td colspan="3">

        <fieldset style="height: 100px;"></fieldset>

      </td>
    </tr>
  </table>

  <button id="btnAction" class="gray" style="position: absolute; right: 160px; bottom: 20px;">Close Case</button>

</fieldset>

<script>

    var people = [];

    var person;

    var timerHnd;

    var active = false;

    function __$(id) {
        return document.getElementById(id);
    }

    function checkCtrl(obj) {
        var o = obj;
        var t = o.offsetTop;
        var l = o.offsetLeft + 1;
        var w = o.offsetWidth;
        var h = o.offsetHeight;

        while ((o ? (o.offsetParent != document.body) : false)) {
            o = o.offsetParent;
            t += (o ? o.offsetTop : 0);
            l += (o ? o.offsetLeft : 0);
        }
        return [w, h, t, l];
    }

    function checkPopUp() {

        if (__$("popup")) {

            clearTimeout(timerHnd);

            document.body.removeChild(__$("popup"));

        } else {

            ajaxTasks();

        }

    }

    function ajaxTasks() {

        clearTimeout(timerHnd);

        var caseId = __$("caseId").value.trim().replace(/\s/, "+");

        var url = "/search_by_case/" + encodeURIComponent(caseId);

        if (caseId.trim().length == 0) {
            return;
        }

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            handleTasks(httpRequest);
        };
        try {
            httpRequest.open('GET', url, true);
            httpRequest.send(null);
        } catch (e) {
        }
    }

    function handleTasks(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
                aXMLHttpRequest.status == 304)) {

            var result = JSON.parse(aXMLHttpRequest.responseText);

            people = result;

            if (people.length > 0)
                loadRows();

        }
    }

    function loadRows() {

        clearFields();

        loadItem(0);

    }

    function loadItem(pos) {

        if (__$("personname")) {

            __$("personname").value = people[pos]["Child"]["First Name"] + " " + people[pos]["Child"]["Family Name"];

        }

        if (__$("mname")) {

            __$("mname").value = people[pos]["Mother"]["First Name"] + " " + people[pos]["Mother"]["Family Name"];

        }

        if (__$("mhvillage")) {

            __$("mhvillage").value = people[pos]["Mother"]["Home Village"];

        }

        if (__$("mhta")) {

            __$("mhta").value = people[pos]["Mother"]["Home T/A"];

        }

        if (__$("mhdistrict")) {

            __$("mhdistrict").value = people[pos]["Mother"]["Home District"];

        }

        if (__$("fname")) {

            __$("fname").value = people[pos]["Father"]["First Name"] + " " + people[pos]["Father"]["Family Name"];

        }

        if (__$("fhvillage")) {

            __$("fhvillage").value = people[pos]["Father"]["Home Village"];

        }

        if (__$("fhta")) {

            __$("fhta").value = people[pos]["Father"]["Home T/A"];

        }

        if (__$("fhdistrict")) {

            __$("fhdistrict").value = people[pos]["Father"]["Home District"];

        }

        if (people[pos]["status"].trim().toUpperCase() == "PRINTED" && people[pos]["remote_status"].trim().toUpperCase() == "CLOSED") {

            alert("Printed records are already closed!");

        } else if (people[pos]["status"].trim().toUpperCase() == "HQ OPEN" && people[pos]["remote_status"].trim().toUpperCase() == "ACTIVE") {

            if (__$("btnAction")) {

                __$("btnAction").className = "blue";

                __$("btnAction").onclick = function () {

                    if (confirm("Do you really want to close this case?")) {

                        window.location = "/do_close_case/" + people[pos]["id"];

                    }

                }

            }

        } else {

            var editor = "";

            if (people[pos]["remote_status"].trim().toUpperCase() == "CLOSED") {
                editor = "It's already closed!";
            } else if (people[pos]["remote_status"].trim().toUpperCase() == "ACTIVE") {
                editor = "It is still being processed at a lower level";
            }

            alert("Record cannot be closed! " + editor);

        }

    }

    function clearFields() {

        if (__$("personname")) {

            __$("personname").value = "";

        }

        if (__$("mname")) {

            __$("mname").value = "";

        }

        if (__$("mhvillage")) {

            __$("mhvillage").value = "";

        }

        if (__$("mhta")) {

            __$("mhta").value = "";

        }

        if (__$("mhdistrict")) {

            __$("mhdistrict").value = "";

        }

        if (__$("fname")) {

            __$("fname").value = "";

        }

        if (__$("fhvillage")) {

            __$("fhvillage").value = "";

        }

        if (__$("fhta")) {

            __$("fhta").value = "";

        }

        if (__$("fhdistrict")) {

            __$("fhdistrict").value = "";

        }

        if (__$("btnAction")) {

            __$("btnAction").className = "gray";

            __$("btnAction").onclick = function () {
            };

        }

    }

</script>