<div id="default" style="width: 100%; height: 400px; text-align: center; vertical-align: top;">

<% if @admin %>

    <div class="button" onclick="window.location = '/hq/re_open_case'" tag=0>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Re-Open Case
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Re-Open closed child Case.
          </td>
        </tr>
      </table>
    </div>

    <div class="button" onclick="window.location = '/hq/close_cases'" tag=1>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Close Cases
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Close child cases.
          </td>
        </tr>
      </table>
    </div>

    <div class="button" onclick="window.location = '/hq/void_cases'" tag=2>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Void Cases
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Void child cases.
          </td>
        </tr>
      </table>
    </div>

<% end %>

<div class="button" onclick="window.location = '/hq/view_cases'" tag=3>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        View Cases
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        View synchronised child cases and their statuses.
      </td>
    </tr>
  </table>
</div>

<div class="button" onclick="window.location = '/hq/view_closed_cases'" tag=4>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        View Closed Cases
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        View closed cases from districts.
      </td>
    </tr>
  </table>
</div>

<div class="button" onclick="window.location = '/hq/view_requests'" tag=5>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        View Requests
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        View requests from districts.
      </td>
    </tr>
  </table>
</div>

<% if @admin %>

    <div class="button" onclick="window.location = '/hq/manage_duplicates'" tag=6>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Manage Duplicates
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Manage duplicate entries system-wide.
          </td>
        </tr>
      </table>
    </div>
    
    <div class="button" onclick="window.location = '/hq/validate_records'" tag=6>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
             Record Validation
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Check if there are any similar records at HQ.
          </td>
        </tr>
      </table>
    </div>
    
    <div class="button" onclick="window.location = '/users'" tag=7>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Manage Users
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Manage system users at NRB headquarters.
          </td>
        </tr>
      </table>
    </div>

<% end %>

<div class="button" onclick="window.location = '/users/my_account?id=<%= @user.id rescue nil %>'" tag=8>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        My Account
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        Manage current local user account.
      </td>
    </tr>
  </table>
</div>

<div class="button" onclick="window.location = '/hq/reports'" tag=9>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        Reports
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        View reports at NRB headquarters.
      </td>
    </tr>
  </table>
</div>

<% if @admin %>

    <div class="button" onclick="window.location = 'hq/print_certificates'" tag=10>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Print Certificates
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Print birth certificates.
          </td>
        </tr>
      </table>
    </div>

<% end %>

<div class="button" onclick="window.location = '/hq/list_voided_cases'" tag=11>
  <table style="text-align: left;">
    <tr>
      <td rowspan="2">
        <img src="<%= @icoFolder %>" height="60"/>
      </td>
      <td style="height: 30px;">
        List Voided Cases
      </td>
    </tr>
    <tr>
      <td style="font-size: 11px; font-style: italic;">
        Display all cases that have been voided.
      </td>
    </tr>
  </table>
</div>

<% if @admin %>

    <div class="button" onclick="window.location = '/hq/manage_sites'" tag=12>
      <table style="text-align: left;">
        <tr>
          <td rowspan="2">
            <img src="<%= @icoFolder %>" height="60"/>
          </td>
          <td style="height: 30px;">
            Manage Sites
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; font-style: italic;">
            Manage all sites linked to the system.
          </td>
        </tr>
      </table>
    </div>

<% end %>

</div>
